  h1{
        color: red;
        text-align:center;
        background-color:bisque;
        border:10px solid black;    
     }
      p{
            text-align: right;
            background-color: red;
            color: blue;
            border: 1px solid black;
        }